/*  your css code here. If applicable */
 table th,td{
   border:1px solid #ccc;
   border-radius:5px;
	 padding:0.5rem;
	 margin:0.5rem;
 }
tr:nth-child(2n) td{
	background-color:#f2f2f2;
}
tr:nth-child(2n+1) td,th{
	background-color:#ffffff;
}